#vista1{
    background-image: url("");
    background-size: 100% auto;
}
.parent{
    background-image: url("imagen2.jpg");
    background-size: auto 100%;
    position: relative;
    width: 900px;
    height: 900px;
}

.test{
    /*position: relative;*/
    position: absolute;
    /*margin: 0 auto;*/
    width: 400px;
    height: 300px;
    left: 250px;
    top: 300px;
    background-color: black;
    background: rgba(7, 7, 7, 0.4);
}

.test > *{
    color: #010101;
    text-align: center;
    font-size: 18px;
}
